doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title HomePage
    link(rel="stylesheet", href="/public/css/style.css")
  body
    h1 Available Products
    main
      each item in products 
        .product
          .detail
            img(src=item.image, alt=item.name)
            h2 #{item.name} 
            span.price #{item.price}
            form(action="/products/"+item._id+"/buy", method="post")
              button(type="submit") Buy
