doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Login
    style.
      main {
        width: max-content;
        margin: auto;
        text-align: center;
      }
      form {
        max-width: max-content;
        margin: 0 auto;
        display: flex;
        flex-flow: column;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
      }
      .error {
        color: red;
        font-weight: bold;
      }
      input {
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
      }
  body
    main 
      h1 Login
      form(action="/login", method="post")
        input(type="text", name="username", placeholder="Username")
        input(type="password", name="password", placeholder="Password")
        span.error #{error}
        input(type="submit", value="Login")
        a(href="/register") New User? Register here
