doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Your Orders
    link(rel="stylesheet", href="/public/css/order.css")
  body
    h1 Available Products
    main
      each order in orders
        .product(class=order.status)
          .img 
            img(src=order.image[0], alt=order.name[0])
            span.info.
              Purchased on #{order.created_at.toDateString()} at #{order.created_at.toLocaleTimeString()}
          .detail
            h2 #{order.name}
            h3.price Price: ₹#{order.price}
            span.status #{order.status}

