main {display: flex; gap: .8em; flex-flow: row wrap; justify-content: center;}
.product {
  display: flex;
  box-shadow: inset 0 0 0 1px #ddd;
  padding: .8em;
  column-gap: 1em;
  justify-content: space-around;
  max-width: 500px;
  min-width: 45%;
}
.product.success{background-color: rgba(48, 149, 39, .8);}
.product.cancelled{background-color: rgba(255, 0, 0, .8);}
.product.pending{background-color: #c7c5a9cc;}
.product .img{display: flex; flex-flow: column; align-items: center; justify-content: space-around;}
.product img{width: 200px;}
.product .detail {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
.status{
  font-weight: bold;
  box-shadow: inset 0 0 0 2px #ddd;
  text-align: center;
  padding: .5em;
  font-variant: small-caps;
}
