main {display: flex; gap: .8em; flex-wrap: wrap;}
.product {
  display: flex;
  box-shadow: inset 0 0 0 1px #ddd;
  width: max-content;
  padding: .5em;
}
.product .detail {width: max-content;}
.product .detail img{width: 320px;}
.product button{
  display: block;
  padding: .3em 1em;
  margin: 0 auto;
  border: none;
  background-color: #cd4c26;
  border-radius: .2em;
  color: #fff;
}
